[Unit]
Description=org files sync with dropbox
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/bin/rclone sync /home/yasser/notes/org remote:org --include "*.org"
TimeoutStartSec=0

[Install]
WantedBy=shutdown.target
