[Desktop Entry]
Name=qutebrowser
GenericName=Web Browser
Keywords=html;xhtml;
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;;Browser;
MimeType=text/html;application/xhtml+xml;
Icon=qutebrowser
StartupWMClass=Browser
Exec=/usr/bin/qutebrowser %F
