# Examples:
# https://github.com/xremap/xremap?tab=readme-ov-file#keymap
# https://github.com/xremap/xremap/blob/master/example/config.yml
# https://github.com/xremap/xremap/blob/master/example/emacs.yml
modmap:
  - name: CapsLock to Ctrl/Esc
    remap:
      CapsLock:
        held: Ctrl_L
        alone: Esc
        alone_timeout_millis: 200
keymap:
  - name: Emacs binding for Slack
    application:
      only: [Slack]
    remap:
      # Navigation
      C-a: Home
      C-e: end

      C-p: up
      C-n: down

      C-b: left
      C-f: right

      M-b: C-left
      M-f: C-right

      # Deleting
      C-h: backspace
      C-d: delete
      C-w: C-backspace
      C-u: [Shift-Home, backspace]
      C-k: [Shift-end, backspace]
      M-w: [Shift-Ctrl-left, backspace]
      M-d: [Shift-Ctrl-right, backspace]

      C-Shift-a: [End, shift-ctrl-home]
      C-m: enter
  # The only difference from Slack is remove C-w to allow closing tabs
  - name: Emacs binding for Google chrome
    application:
      only: [Google-chrome, google-chrome]
    remap:
      # Navigation
      C-a: Home
      C-e: end

      C-p: up
      C-n: down

      C-w: C-backspace

      C-b: left
      C-f: right

      M-b: C-left
      M-f: C-right

      # Deleting
      C-h: backspace
      C-d: delete
      C-u: [Shift-Home, backspace]
      C-k: [Shift-end, backspace]
      M-w: [Shift-Ctrl-left, backspace]
      M-d: [Shift-Ctrl-right, backspace]

      C-Shift-a: [End, shift-ctrl-home]
      C-m: enter
  - name: Devdocs in qutebrowser
    window:
      only: [/.*DevDoc.*/]
    remap:
      # Navigation
      g:
        remap:
          g: C-up
        timeout_millis: 1000 # optional time window
      Shift-g: C-down
      k: alt-up
      j: alt-down
      C-u: Shift-space
      C-d: space
      C-o: M-left
      C-i: M-right
