vim/.vim/bundle/*
bash/.bash_history
emacs/.emacs.d/auto-save-list
general/.config/qutebrowser/qsettings/QtProject.conf
*.swp

general/.config/systemd/user/default.target.wants/
/general/.config/systemd/user/autosync-repos*
/general/.config/systemd/user/timers.target.wants/autosync-repos.timer
/general/.config/nvim/undo/
