[Desktop Entry]
Name=link-handler
Type=Application
Categories=Other;
Comment=Handle links using a script
Exec=/home/yasser/bin/helpers/link_handler %u
Terminal=false
MimeType=x-scheme-handler/link-handler;
