[Unit]
Description=Simple X Hotkey Daemon
Documentation=man:sxhkd(1)
PartOf=graphical-session.target
After=graphical-session.target


[Service]
Type=simple
Restart=always
RestartSec=2
EnvironmentFile=/home/yasser/.config/systemd/user/env
ExecStart=/usr/bin/sxhkd
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=default.target
