[flake8]
/* Rules not to conflict with black */ 
/* https://github.com/psf/black/blob/06ccb88bf2bd35a4dc5d591bb296b5b299d07323/docs/guides/using_black_with_other_tools.md#user-content-flake8 */
max-line-length=88
/* https://www.flake8rules.com/rules/E203.html */
extend-ignore = E203
