snippet co "console.log"
console.log($1);
endsnippet

snippet v "var"
var $1 = $2;
endsnippet

snippet cf "var"
const $1 = function($2) {
	$3
};
endsnippet

snippet jQ "description" b
jQuery('$1').on('click',
	function() {
		$2
	}
);
console.log($1);
endsnippet
