[Unit]
Description=Execute notify-me at startup and every 30 minutes

[Timer]
OnBootSec=5m
OnUnitActiveSec=30m
Unit=notify-me.service

[Install]
WantedBy=default.target
