[Unit]
Description=Execute notify me script
OnFailure=notify-popup-send@%i.service

[Service]
Type=forking
TimeoutStartSec=0
ExecStartPre=/home/yasser/bin/helpers/wait_internet
ExecStart=/bin/uv run --directory /home/yasser/.local/share/python_env /home/yasser/bin/notify_me
Environment="HOME=/home/yasser" "USERNAME=yasser" "XDG_CONFIG_HOME=/home/yasser/.config" "EDITOR_GUI=nvim-qt"
