[Unit]
Description=execute notify me

[Service]
Type=simple
TimeoutStartSec=0
ExecStart=/bin/pipenv run python main.py
Environment="HOME=/home/yasser" "USERNAME=yasser"
WorkingDirectory=/home/yasser/Projects/notify-me
