[Unit]
Description=udiskie automounter for removable media daemon

[Service]
Type=simple
Restart=always
RestartSec=2
ExecStart=/bin/udiskie

[Install]
WantedBy=default.target
