[Unit]
Description=udiskie automounter for removable media daemon

[Service]
Type=simple
Restart=always
RestartSec=2
EnvironmentFile=/home/yasser/.config/systemd/user/env
ExecStart=/bin/udiskie

[Install]
WantedBy=default.target
