[Desktop Entry]
Name=neomutt
Comment=E-mailclient
Keywords=E-mail;
StartupNotify=true
Terminal=true
Type=Application
MimeType=x-scheme-handler/mailto
Icon=mutt
Exec=kitty -- neomutt %U
