[Desktop Entry]
Name=neomutt
Comment=E-mailclient
Keywords=E-mail;
StartupNotify=true
Terminal=true
Type=Application
Categories=Application;;E-mail client;
MimeType=x-scheme-handler/mailto
Icon=mutt
Exec=kitty neomutt
