[Unit]
Description=dunst daemon
After=graphical.service

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/bin/dunst

[Install]
WantedBy=default.target
