[Unit]
Description=swhkd hotkey daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/home/yasser/bin/helpers/run_swhkd
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
