[Unit]
Description=Mailbox synchronization service
OnFailure=notify-popup-send@%i.service

[Service]
Type=forking
ExecStart=/bin/bash -c '. /home/yasser/.config/neomutt/bin/syncmail'

[Install]
WantedBy=graphical.target
