[Unit]
Description=Mailbox synchronization service
Wants=network-online.service
After=network-online.service

[Service]
Type=oneshot
Environment="HOME=/home/yasser" "XDG_CONFIG_HOME=/home/yasser/.config" "PASSWORD_STORE_DIR=/home/yasser/.local/share/pass" "GNUPGHOME=/home/yasser/.local/share/gnupg" "DISPLAY=:0" "XDG_CONFIG_ISYNC=/home/yasser/.config/isync/mbsyncrc"
ExecStart=/home/yasser/.config/neomutt/bin/mailsync
