#Saved in ~/auto/autosync-repos.service
[Unit]
Description=Automatically does git push and pull on a number of repos

[Service]
Type=simple
ExecStart=/home/yasser/auto/autosync-repos.sh
Nice=19

[Install]
WantedBy=autosync-repos.target
