[Unit]
Description=Send mails stored in a queue stored during offline

[Service]
Type=oneshot
ExecStart=/home/yasser/.config/neomutt/bin/msmtp/msmtp-runqueue.sh
