[Desktop Entry]
Name=zathura
Comment=pdf viewer
Keywords=pdf;epub;
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;;PDF;
MimeType=application/epub;application/pdf;
Icon=zathura
Exec=/home/yasser/bin/helpers/open_document %F
