[Unit]
Description=Xremap
After=swhkd.service
Requires=swhkd.service

[Service]
ExecStart=/usr/bin/xremap --device="swhkd" --watch=device %h/.config/xremap/config.yml
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
