[Unit]
Description=Xremap
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/xremap --watch=device %h/.config/xremap/config.yml
Restart=always
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical-session.target
